/* ############# Ordered Items ######################## */

/* bg */
/* Ordered Items Section */
.ordered-items-section {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Hide overflow content */
}

/* Content section for ordered items */
.ordered-items-content {
    flex-grow: 1; /* This allows it to fill the available space */
    overflow-y: scroll; /* Enable scrolling */
    width: 100%; /* Adjust width to make space for the custom scroller */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
}

/* Hide scrollbar for WebKit browsers */
.ordered-items-content::-webkit-scrollbar {
    width: 0; /* Hide the scrollbar */
    background: transparent; /* Make sure background is transparent */
}

/* Hide scrollbar for Edge */
.ordered-items-content {
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* Footer */
.footer {
    flex-shrink: 0; /* Prevent footer from shrinking */
    height: 70px; /* Fixed height for the footer */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Anybody', sans-serif;
    font-size: 12px;
}

.vertical-line {
    position: absolute; /* Position absolute to align it */
    width: 1px; /* Thickness of the line */
    height: calc(95% - 75px); /* Calculate height: Full parent height minus 70px */
    background-color: #D9D9D9; /* Color of the line */
    left: 12%; /* 10px from the left margin */
    top: 10px;
}

/* Headers */
.headers {
    display: flex; /* Use flexbox for the column layout */
    color: grey;
    font-family: 'Anybody', sans-serif; /* Use 'Anybody' font */
    font-size: 13px;
    padding: 10px 0px 5px 0px;
}

.label {
    text-align: left; /* Ensure text aligns to the left for quantity and item */
}

.label.quantity {
    width: 12%; /* First column: 12% width for quantity */
    margin-left: 9px;
}

.label.item {
    width: 73%; /* Second column: 71% width for item */
    padding-left: 0px;
}

.label.price {
    width: 15%; /* Third column: 15% width for price */
}

/* ORDERED ITEMS: MIDDLE */
.ordered-item-row {
    position: relative;
    display: flex; /* Use flexbox for the column layout */
    justify-content: space-between; /* Space between item components */
    align-items: center; /* Center align items vertically */
    font-family: 'Anybody', sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: lowercase;
    padding: 3px 0px 2px 0px;
    cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
}

.ordered-item-row.selected {
    background-color: rgb(175, 194, 246, 0.76); /* Translucent background when selected */
  }

.ordered-item-row.selected.amending {
    z-index: 4; /* z-index when amending items */
    background-color: #fbfcff; /* Translucent background when selected */
    border-left: none;
    border-right: none;
    box-sizing: none;
}
.ordered-item.quantity {
    width: 12%; /* First column for quantity */
    text-align: center;
}

.ordered-item.name {
    flex-grow: 1;
    text-align: left;
    padding-left: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ordered-item.price {
    width: 15%; /* Third column for price */
    text-align: right;
    padding-right: 8px;
}

/* ORDERED ITEMS: FOOTER */


.total {
    position: absolute; /* Keep it absolute to position relative to .ordered-items */
    left: 12px; /* Adjust as needed */
    bottom: 15px; /* Position it 10px from the bottom of the container */

    color: rgb(0, 0, 0); /* Text color */
    font-size: 15px; /* Font size */
}

.price-sum {
    position: absolute; /* Positioning relative to the .ordered-items container */
    color: rgb(0, 0, 0); /* Grey text color */
    bottom: 50px;
    right: 10px;
    font-size: 15px;
}

.final-price {
    position: absolute; /* Positioning relative to the .ordered-items container */
    color: rgb(0, 0, 0); /* Grey text color */
    bottom: 15px;
    right: 10px;
    font-size: 15px;
}

.quantity-buttons {
    position: absolute;
    display: flex;
    flex-direction: row; /* Align buttons vertically */
    width: 80px;
    height: 30px; /* Create a square-like container */
    bottom: 50px;
    left: 10px;
    z-index: 0;
}

.quantity-buttons button {
    flex: 1;
    width: 100%;
    padding: 0;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.quantity-buttons .increase-btn {
    background-color: #00ff3c; /* Bright green for increase */
}

.quantity-buttons .decrease-btn {
    background-color: #ff0000; /* Bright red for decrease */
}

.quantity-buttons button:not(.active)::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); /* Translucent black overlay */
    z-index: 2; /* Place overlay behind the button */
    cursor: default;
}

/* Scroller */
.orderedItemsScroller {
    position: absolute; /* Positioned within the content */
    right: 2px; /* Stay on the right side */
    height: 70%; /* Take 70% height of the parent */
    width: 6px;
    background-color: #ddd;
    border-radius: 5px;
    top: 40px;
}

.orderedItemsScroller-handle {
    position: absolute;
    width: 100%;
    height: 50px; /* Adjust handle height */
    background-color: #7b7b7b;
    border-radius: 5px;
    cursor: pointer;
}

.ordered-item-amendment {
    padding-top: 2px;
    font-family: 'Anybody', sans-serif;
    font-size: 13px;
    padding-bottom: 1px;
    padding-left: 40px; /* Adjust as needed for spacing */
    color: rgb(208, 0, 0);
}