@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@400&display=swap');

/* Button Styles */
.styled-button {
    font-family: 'Beiruti', sans-serif;
    font-size: 4vw;
    border: none; /* Remove default border */
    border-radius: 2vw; /* Round corners */
    color: white; /* Text color */
    padding: 1vw 2.0vw; /* Padding */
    cursor: pointer; /* Change cursor on hover */
    transition: all 0.3s ease; /* Transition for hover effects */
    width: 31vw; /* Set width of button container to 30% of the screen */
    height: 7vw;
}

.styled-button:hover {
    opacity: 0.9; /* Slightly decrease opacity on hover */
}

/* ###################################################### */
/* Main Home Screen Buttons Container */
.container1 {
    position: absolute;
    top: 11vw; /* Adjust as needed for positioning */
    left: 10vw; /* Align with the text */
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    gap: 1.25vw; /* Space between buttons */
}

/* Button Types */
.type1 {
    background: #3A5AFF;
    border: 0.5vw solid #0065B7;
}

.type2 {
    background: linear-gradient(to right, #3A48C3, #4E5CD6);
    border: 0.2vw solid #4E4167;
}

/* ###################################################### */
/* Management Container */
.container2 {
    position: absolute; /* Use absolute positioning */
    top: 53vw; /* Place where you want it vertically */
    left: 14.5vw; /* Align with the text */
}

/* Management Button */
.management {
    font-size: 3.75vw;
    background: #D50000;
    cursor: pointer; /* Change cursor on hover */
    width: 22vw; /* Set width of button */
    height: 5.5vw; /* Set height of button */
    display: flex; /* Enable Flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    margin-top: 0; /* Adjust this margin to position the button */
    margin-bottom: 1vw; /* Space below the button */
}

/* ###################################################### */
/* Bookings Container */
.container3 {
    position: absolute; /* Use absolute positioning */
    bottom: 2vw; /* Place where you want it vertically */
    right: 5vw; /* Align with the text */
}
/* Bookings Button */
.bookings {
    font-size: 3.75vw;
    width: 22vw; /* Set width of button */
    height: 5.5vw; /* Set height of button */

    background: #387CA5;
    border: 0.2vw solid #4E4167;
    border-radius: 1vw; /* Round corners */

    top: 30vw;

    cursor: pointer; /* Change cursor on hover */
    display: flex; /* Enable Flexbox */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

/* ###################################################### */
/* Cancel Container */
.cancel-container {
    position: absolute; /* Use absolute positioning */
    top: 60.5vw; /* Place where you want it vertically */
    left: 2vw; /* Align with the text */

    cursor: pointer; /* Change cursor on hover */
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
}
.cancel {
    font-family: 'Anybody', sans-serif;
    font-size: 2vw;
    font-weight: lighter;
    width: 12vw; /* Set width of button */
    height: 4vw; /* Set height of button */

    background: #CB0000;
    border: 0.2vw solid #CB0000;
    border-radius: 20px; /* Round corners */
}

.save-container {
    position: absolute; /* Use absolute positioning */
    top: 60.5vw; /* Place where you want it vertically */
    right: 2vw; /* Align with the text */

    cursor: pointer; /* Change cursor on hover */
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
}
.save {
    font-family: 'Anybody', sans-serif;
    font-size: 2vw;
    font-weight: lighter;
    width: 12vw; /* Set width of button */
    height: 4vw; /* Set height of button */

    background: #61A61B;
    border: 0.2vw solid #148700;
    border-radius: 20px; /* Round corners */
}
