@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght&display=swap');

/* ################################################################# */
/* ############## Text & Logo ############################### */
.sunkoshi-text {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 30px;
    font-family: 'Braah One', sans-serif;
    font-size: 80px;
    color: #A74600;
    -webkit-text-stroke: 0.01px #E08385;
    margin: 0;
}

.restaurant-logo {
    position: absolute;
    left: 600px;
    top: 230px;
    width: 256px;
    height: auto;
    opacity: 0.2;
}

/* ################################################################# */
/* ############## DateTime Container ############################### */
.datetime-container {
    position: absolute;
    top: 140px;
    left: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1.65);
    gap: 0px;
}

/* Style for Time and Date */
.live-time, .live-date {
    font-family: 'Anybody', sans-serif;
    color: #333;
}

.live-time {
    font-size: 43px;
    font-weight: bold;
}

.live-date {
    font-size: 22px;
    color: #555;
    font-weight: normal;
}

/* ################################################################# */
/* ############## BUTTONS ############################### */
.btn {
    font-family: 'Beiruti', sans-serif;
    font-size: 40px;
    font-weight: 700;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    width: 318px;
    height: 70px;
    background: linear-gradient(to right, #3A48C3, #4E5CD6);
    border: 2px solid #4E4167;
}

.main-btn-group {
    position: absolute;
    top: 120px;
    left: 108px;
    display: flex;
    flex-direction: column;
    gap: 13px;

}

.btn.place-order {
    background: #3A5AFF;
    border: 5px solid #0065B7;
}

/* Button: Management and Bookings */
.btn.management, .btn.bookings {
    position: absolute;

    font-size: 38px;
    width: 227px;
    height: 59px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.btn.management {
    background: #D50000;
    border: 1px solid #bb0000;
    top: 545px;
    left: 151px;
}

.btn.bookings {
    position: absolute;
    background: #387CA5;
    border: 2px solid #4E4167;
    top: 610px;
    left: 740px;
}

/* Power Button Styling */
.power-btn {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 610px;
    left: 15px;
}

.power-btn img {
    width: 70px;
}
