.unselectable {
    user-select: none; /* Disable text selection */
}

body, html, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.gradient-bg {
    position: fixed; /* Changed to fixed to cover the viewport */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    z-index: 1;
    height: 100%; /* Use viewport height to cover the entire screen */
    width: 100%; /* Full width */
    background: linear-gradient(to bottom, #BC7E7E 0%, #242DAA 100%);
    opacity: 20%;
}

.content-container {
    position: relative; /* Positioned above the background */
    z-index: 2; /* Foreground layer, above gradient-bg */
    height: auto; /* Adjust height as needed */
    width: 100%; /* Full width */
}
